@import "tailwindcss";
@import "@nuxt/ui";
@config "../../tailwind.config.js";

* {
    font-family: "IRANSansX";
    
}
html {
  overflow-y: scroll; 
}

.ltr {
    direction: ltr;
}


.dark {
  --ui-bg: var(--ui-color-dark,#000000);
}
